[submodule "contracts/lib/chainlink-evm"]
	path = contracts/lib/chainlink-evm
	url = https://github.com/smartcontractkit/chainlink-evm
[submodule "contracts/lib/chainlink-ccip"]
	path = contracts/lib/chainlink-ccip
	url = https://github.com/smartcontractkit/chainlink-ccip
